@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'fontslab-dongmanerciyuanRg';
    src: url('src/style/Font/ziyanshidongmanerciyuan-2-webfont.woff2') format('woff2'),
    url('src/style/Font/ziyanshidongmanerciyuan-2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}