@import "./style/font.css";
@import "./style/color.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
